
.calendar-container{
    padding: 10px;
    
}
.fc .fc-button-primary{
    background: var(--btn-primary);
}
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
    background: var( --calendar-active);
}

.fc .fc-toolbar-title{
    font-family: "Fredoka", sans-serif;
    color: var(--color-title);
}
.fc ,.fc-daygrid-day-number, .fc-event{
    font-family: "Nunito", sans-serif;
    
  }

  th.fc-day{
    background: var(--calendar-day);
    color: white;
  }
  th.fc-day-today{
    background: var( --calendar-active);
  }
  .fc .fc-daygrid-day.fc-day-today{
    background-color: var(--calendar-daygrid-day);
  }
