header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.auth {
  width: 33vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-icon {
  font-size: 2rem;
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 100%;
}

.dropdown-menu {
  position: absolute;
  text-decoration: none;
  list-style: none;
  top: 100%;
  right: 0;
  left: auto;
  background-color: var(--main-container-background);
  border: 1px solid var(--main-container-background);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 0.5rem 0;
  min-width: 160px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}
.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  color: var(--color-title);
  transition: background-color 0.2s;
}
.dropdown-menu li a,
.dropdown-menu li a:visited {
  color: var(--color-title);
  text-decoration: none;
  width: 100%;
}
.dropdown-menu li:hover {
  background-color: var(--question-selected);
  color: var(--text-light);
}
.dropdown-menu li:hover a {
  color: var(--text-light);
}
